<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kdev.sookta">

    <application android:extractNativeLibs="true" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Sookta" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>